*~
*.egg/
*.pyc
*.pyo
*.cpp
*.so
cscope.*
tags
build
\#*\#
.\#*
.coverage
.eggs/
_readthedocs_build
chainer.egg-info/
dist/
htmlcov/
.idea/
mkldnn/api/c_api.py
mkldnn/api/support.py
mkldnn/api/memory.py
mkldnn/api/inner_product_*.py
mkldnn/api/reorder.py
mkldnn/api/convolution_*.py
mkldnn/api/relu_*.py
mkldnn/api/concat.py
mkldnn/mdarray.py
